 body {
     font-family: fantasy;
 }
 
 div.header {
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     background: #A15AFF;
     min-height: 3px;
     margin: 0 auto;
     box-shadow: 1px 8px 14px black;
 }
 
 span.title {
     position: absolute;
     top: 11px;
     left: 15px;
     font-size: 320%;
     color: #3B63AB;
     z-index: 1;
     transition: font-size 1s, color 0.8s;
 }
 
 span.title:hover {
     font-size: 120%;
     color: green;
 }
 
 .container {
     background-color: #e2e2e2;
     min-height: 250px;
     position: absolute;
     left: 0;
     top: 65px;
     width: 100%;
     padding-top: 15px;
     padding-left: 15px;
     padding-bottom: 0;
 }
 
 div.footer {
     height: 3px;
     width: 100%;
     background-color: #A15AFF;
     position: absolute;
     bottom: 0;
     left: 0;
     box-shadow: 1px 8px 14px black;
 }
 
 div.top {
     height: 3px;
     width: 100%;
     position: absolute;
     top: 62px;
     left: 0;
     background-color: #A15AFF;
 }
 
 input,
 button {
     box-shadow: 0;
     transition: box-shadow 0.5s;
 }
 
 input:hover,
 button:hover {
     box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
 }