body {
    font-family: verdana;
}

div#box {
    text-align: center;
    font-size: 200%;
    margin: 0 auto;
    width: 75%;
    height: 145px;
    border: 5px solid blue;
    border-radius: 15px;
    line-height: 155%;
    padding: 6px;
}

#type {
    margin-left: 12.5%;
    width: 75%;
    height: 35px;
    font-size: 150%;
    margin-top: 15px;
}

.doNotDisplay {
    display: none;
}

.highlight {
    color: red;
}